<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/header') %>
</head>
<body>
  <%- include('../components/navbar') %>
  <main>
    <h1>Welcome to SWE Online Store</h1>
    <p>TODO: create list of products (3x3 grid)</p>
  </main>
</body>
</html>
