<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Welcome, <%= username %></h1>
  <p>This is your account page.</p>
</body>
</html>
