<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/header') %>
</head>
<body>
  <%- include('../components/navbar') %>
  <h1>Welcome, <%= username %></h1>
  <p>This is your account page.</p>
</body>
</html>
