<div class="navbar-container">
    <nav class="navbar navbar-expand-lg pe-5">
      <div class="container-fluid">
        <!-- Store Name -->
        <a class="navbar-brand" href="/">SWE Online Store</a>
  
        <!-- Navigation Links -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
            </li>
          </ul>
        </div>
  
        <!-- Conditional Buttons -->
        <div class="d-flex">
            <% if (!loggedIn) { %>
            <a class="nav-link" href="/users/login">Login</a>
            <% } else { %>
            <a class="nav-link" href="/users/profile" title="Profile"><i class="fas fa-user"></i></a>
            <a class="nav-link" href="/users/cart" title="Shopping Cart"><i class="fas fa-shopping-cart"></i></a>
            <a class="nav-link" href="/users/logout">Logout</a>
            <% } %>
        </div>
      </div>
    </nav>
</div>
  
  
  